<div id="<%= dom_id academy %>">
  <p>
    <strong>Name:</strong>
    <%= academy.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= academy.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= academy.email %>
  </p>

</div>
